<h3>Name: <%= @snack.name %></h3>
<p>Price: <%= number_to_currency(@snack.price) %></p>
<p>Count of Items: <%= @machine.count_of_items %> </p>
<p>Average Price: <%= number_to_currency(@machine.average_price) %> </p>
